.icon {
    border-radius: 20%;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}


.primary-background {
    background-color: var(--ion-color-primary);
}

.secondary-background {
    background-color: var(--ion-color-secondary);
}

.tertiary-background {
    background-color: var(--ion-color-tertiary);
}

.success-background {
    background-color: var(--ion-color-success);
}

.warning-background {
    background-color: var(--ion-color-warning);
}

.danger-background {
    background-color: var(--ion-color-danger);
}

.dark-background {
    background-color: var(--ion-color-dark);
}

.medium-background {
    background-color: var(--ion-color-medium);
}

.light-background {
    background-color: var(--ion-color-light);
}