.avatar-container {
    position: relative;
}

.avatar {
    margin: auto;
    margin-top: 10px;
    height: 200px;
    width: 200px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

.pencil-position {
    position: absolute;
    top: 0px;
    right: 0px;
}