.center-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* Space between input */
.login-item {
    margin-bottom: 15px;
}

.logo-img-login {
    width: 150px;
    display: block;
    margin: 0 auto 0px;
}